@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Material+Icons&display=swap";

/*
	If you need bootstrap (for quick styling),
	do "npm install boostrap" and then
	uncomment this line:

	@import "./bootstrap.css";

*/

/* See ./main/App.js for CSS variables */

.layout-root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.layout-side, .appbar-title {
	flex-grow: 1;
}
.layout-side {
	display: flex;
}
.layout-content {
	flex-grow: 1;
}
.layout-footer {
	padding: 2em 0;
}
.appbar-root {
	z-index: var(--z-index-appbar) !important;
}
.drawer-paper {
	width: var(--drawer-width);
	flex-shrink: 0;
}
.avatar {
	margin: 1em;
}
.avatar.dashboard {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	object-fit: cover;
}
svg.embed {
	width: 100%;
	height: 100%;
}
.block-button {
	display: block !important;
	margin: 1em 0 !important;
}
.paper {
	padding: 2em;
	margin: 2em 0;
}
.paper.justify {
	text-align: justify;
}
.paper.table {
	padding: 0;
}
.paper.center, .paper.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.paper-loading {
	min-height: 10em;
}
.table-title {
	flex-grow: 1;
}
.table-search-bar {
	width: 300px;
	flex-shrink: 1;
}
.table-column-dense {
	width: 1px;
	white-space: nowrap;
}
.table-column-right {
	text-align: right;
}
.table-toolbar-gutters {
	display: flex;
	flex-grow: 1;
	padding: 0 1.5em;
	align-items: center;
}