@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

/*
	If you need bootstrap (for quick styling), uncomment here:

	@import "./media/bootstrap.css";
*/

/* See ./main/App.js for CSS variables */

.layout-root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.layout-side, .appbar-title {
	flex-grow: 1;
}
.layout-side {
	display: flex;
}
.layout-content {
	flex-grow: 1;
}
.layout-footer {
	padding: 2em 0;
}
.appbar-root {
	z-index: var(--z-index-appbar) !important;
}
.drawer-paper {
	width: var(--drawer-width);
	flex-shrink: 0;
}
.avatar {
	margin: 1em;
}
.avatar.dashboard {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	object-fit: cover;
}
.block-button {
	display: block !important;
	margin: 1em 0 !important;
}
.paper {
	padding: 2em;
	margin: 2em 0;
}
.paper.justify {
	text-align: justify;
}
.paper.table {
	padding: 0;
}
.paper.center, .paper.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.paper-loading {
	min-height: 10em;
}