# Generally you wouldn't point your server at api root, but for
# convenience this is a .htaccess file for those who wants 
# to avoid /public prefix when running local apache server.
# If you put this on subfolder (e.g. "localhost/crm-toolkir")
# please replace next 2 line from "/public" to "/your-subfolder/public".

# Remember, this is only for convenience, always configure your 
# server correctly when you're doing production!

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^$ /public/index.php/home/index [L]
RewriteRule ^(.*)/$ $1
RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>
